body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    margin-top: 50px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 300px;
    margin-bottom: 20px;
  }

  .output {
    display: flex;
    align-items: center;
  }
  
  button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #008CBA;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #006699;
  }
  
  #output {
    font-size: 18px;
    margin-top: 30px;
    text-align: center;
  }
  